<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Doll Wardrobe</title>
  </head>
  <body>
    <a href="/"><h1>My Doll Wardrobe</h1></a>
    {{> navigation}}
    
    {{{ body }}}
  </body>
</html>
