<h2>Sign up</h2>

{{# if hasErrors }}
  {{# each messages }}
    <p>{{ this }}</p>
  {{/ each }}
{{/ if }}

<form action="/user/signup" method="post">
  <p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </p>
  <p>
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </p>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <button type="submit">Sign up</button>
</form>
